  .container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            z-index: 10;
        }

    .button-container {
            display: flex;
            flex-direction: row;
            gap: 20px;

        }

    h1{
        color: rgb(16, 15, 15);
    text-align: center;
    margin-right: 20px;
    font-weight: bold;
    }

    .btn, .audio-control {
            text-decoration: none;
            color: white;
            background-color: #a464a7;
            padding: 15px 30px;
            border-radius: 50px;
            font-weight: bold;
            font-size: 1rem;
            transition: all 0.3s ease;
            box-shadow: 0 4px 15px rgba(0,0,0,0.2);
            border: none;
            cursor: pointer;
            display: inline-flex;
            gap: 10px;
        }

        /* Effets Survol et Clic */
        .btn:hover, .audio-control:hover {
            background-color: #a646a7;
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0,0,0,0.3);
        }

        .btn:active, .audio-control:active {
            transform: scale(0.95);
            box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        }

        /* Couleur spécifique pour différencier l'audio si tu veux, sinon reste en #4CAF50 */
        .audio-control {
            background-color: #a464a7; 
        }
